$red = #e5017d


// 设置 icon
icon()
    display inline-block
    width: .39rem
    height: .39rem
    background-size: 70%
    background-repeat: no-repeat
    background-position: center

// 省略号 ...
no-wrap()
    width: 50px;  /*必须设置宽度*/
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/